/* px measures are relative to the CANON_HEIGHT */
.time-label {
    color: white;
    font-size: 70px;
    font-family: "Instrument Sans";
    text-align: right;
    padding-top: 62px;
    padding-right: 31px;
    font-weight: 500;
}

/* px measures are relative to the CANON_HEIGHT */
.date-label {
    color: white;
    font-family: "MADE Outer Sans";
    text-align: right;
    font-weight: 500;
}

/* px measures are relative to the CANON_HEIGHT */
.weekday-label {
    color: white;
    font-family: "MADE Outer Sans";
    text-align: center;
    font-weight: 0;
}