.time-label {
    text-align: right;  /* TODO mettere anche allineamento verticale al centro */
}

.date-label {
    text-align: right;
}

.weekday-label {
    text-align: center;
}

.phase-label {
    text-align: right;
}

.moon-label {
    text-align: right;
}
