/* TODO this thing doesn't do much now */

.time-label {
    text-align: right;
}

.date-label {
    text-align: right;
}

.weekday-label {
    text-align: center;
}

.caption-label {
    text-align: right;
}

.emoji-label {
    text-align: center;
}
