/* TODO this thing doesn't do much now */

.time-label {
    text-align: right;
}

.date-label {
    text-align: right;
}

.weekday-label {
    text-align: center;
}

.phase-label {
    text-align: right;
}

.moon-label {
    text-align: center;
}
