/* TODO this thing doesn't do much now */

.time-label {
    text-align: right;
}

.date-label {
    text-align: right;
}

.weekday-label {
    text-align: center;
}

.caption-label {
    text-align: right;
}

.emoji-label {
    text-align: center;
}

.next-label {
    text-align: right;
}

.countdown-label {
    text-align: center;
}

/* TODO trovare un apposito font "wide", se esiste */
.phase-label {
    text-align: right;
}
